<!DOCTYPE html>
<html>
<head>

<!-- google站长验证代码 -->
<meta name="google-site-verification" content="iWIW82jZ9Ps9LkdvSDBU6TY92-Kk9FlmbulBgtmLDGc" />

<!-- 360站长验证代码 -->
<meta name="360-site-verification" content="31dc36d2ab11a7f45639cd6ac5f79727" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description" content="{{meta_description}}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{meta_title}}">
    <meta name="twitter:description" content="{{meta_description}}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:description" content="{{meta_description}}">

    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link href="/assets/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="/apple-touch-icon-precomposed.png" rel="apple-touch-icon">

    {{! Styles and Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/vno.css"}}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/tomorrow.css"}}">
 

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?865b9b9059fecb330d4770bbc69dd3f6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<meta name="baidu-site-verification" content="lTcl5gEjG5" />
<!-- 百度统计和百度站长验证 -->


<!-- 百度链接自动提交代码 -->
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>


    {{! Ghost Head }}
    {{ghost_head}}

</head>
<body class="{{body_class}} no-js">

    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>

    {{> side-panel}}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{{body}}}

            {{> footer}}
        </div>
    </div>

    {{! Ghost Footer }}
    {{ghost_foot}}

    <!-- Compatibility for Ghost 0.7.0: http://dev.ghost.org/no-more-jquery/ -->
    <script type="text/javascript">  
      if (typeof jQuery == 'undefined') {
        document.write('<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></'+'script>');
      }
    </script>
    
    {{! The main JavaScript file }}
    <script type="text/javascript" src="{{asset "js/main.js"}}"></script>

    {{! Highlight.js }}
    <script type="text/javascript" src="{{asset "js/highlight.pack.js"}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
